<h1>Home#index</h1>
<% if current_user %>
  Welcome <%=current_user.username %>
<%end%>

<p>Find me in app/views/home/index.html.erb</p>

<%= link_to 'Signup', new_user_registration_path unless current_user %>
<%= link_to 'Login', new_user_session_path unless current_user%>
<%= link_to 'Signout', destroy_user_session_path, method: :delete if current_user%>
